<style>
table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }
</style>
<div class="subnav-report" id="subnav-report">
   <div class="container-fluid">
      <ul class="report-menu-list-rt">

          <li>
              <a href="/project/{{id}}/datasets/new">New Dataset</a>
          </li>

      </ul>
      <ul class="report-menu-list">

        <li>
             <a href="/project/{{id}}"><span class="glyphicon glyphicon-chevron-left"></span> BACK TO PROJECT</a>
         </li>

         <li>
             <a href="/project/{{id}}/datasets"><span class="glyphicon glyphicon-cloud-upload"></span> DATASETS</a>
         </li>
         <li>
             <a href="/project/{{id}}/analysis"><span class="glyphicon glyphicon-sort"></span> ANALYSIS</a>
         </li>
         <li>
            <a href="javascript:void(0);"><span class="glyphicon glyphicon-play"></span> JOBS</a>
         </li>
         <li>
             <a class="settings-link" href="javascript:void(0);">
                 <span class="glyphicon glyphicon-cog"></span> SETTINGS
             </a>
         </li>


      </ul>
   </div>
</div>
<div class="page-header" style="margin-top:15px; border-bottom:none;">

</div>

<div class="col-md-1"></div>

<div class="col-md-10">
    <div id="listPane" class="tab-pane fade active in">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Datasets</h3>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each models}}
                    <tr>
                        <td>{{attributes.name}}</td>
                        <td>{{attributes.description}}</td>
                        <td>{{attributes.data_type}}</td>
                        <td>{{attributes.created_at}}</td>
                        <td>
                            <a href="/project/{{attributes.project_id}}/datasets/{{attributes.id}}/explore">Explore</a>&nbsp;
                            <a href="/project/{{attributes.project_id}}/datasets/{{attributes.id}}/delete">Delete</a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</div>