<style>
table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }
.fixed{
}
</style>
<div class="subnav-report" id="subnav-report">
   <div class="container-fluid">
      <ul class="report-menu-list-rt">

          <li>
              <a href="/project/{{id}}/datasets/new">New Dataset</a>
          </li>

      </ul>
      <ul class="report-menu-list">

        <li>
             <a href="/project/{{id}}"><span class="glyphicon glyphicon-chevron-left"></span> BACK TO PROJECT</a>
         </li>

         <li>
             <a href="/project/{{id}}/datasets"><span class="glyphicon glyphicon-cloud-upload"></span> DATASETS</a>
         </li>
         <li>
             <a href="/project/{{id}}/analysis"><span class="glyphicon glyphicon-sort"></span> ANALYSIS</a>
         </li>


      </ul>
   </div>
</div>
<div class="page-header" style="margin-top:15px; border-bottom:none;">

</div>



<div class="col-md-12">
    <div id="listPane" class="tab-pane fade active in">
        <div class="panel panel-default">
            <div class=" "> <!-- panel-heading -->
                <h3 class="panel-title" style="margin-top:10px; margin-left: 10px;">Explore {{model.name}} dataset</h3>
            </div>
            <div style="margin-bottom:10px; margin-left:10px; margin-top:10px;">
                Sample: <b>{{model.header_content.length}}</b> rows, <b>{{model.header_list.length}}</b> cols
            </div>
            <div style="overflow-y: auto; height:410px;">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        {{#each model.header_list}}
                        <th class="fixed" style="font-size:12px; white-space: nowrap; font-family: sans-serif; border: 1px solid #EEEEEE;">
                        {{name}}
                        <p style="font-size:10px; font-weight:normal;">{{dataType}}</p>
                        </th>
                        {{/each}}
                    </tr>
                    </thead>
                    <tbody>
                    {{#each model.header_content}}
                        <tr>
                            {{#each this}}
                                <td style="font-size:12px; white-space: nowrap; border: 1px solid #EEEEEE;">{{value}}</td>
                            {{/each}}
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>